.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-label {
  display: flex;
  flex-direction: column;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-label input {
  margin-top: 8px;
  margin-bottom: 8px;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.feedback-label textarea {
  margin-top: 8px;
  margin-bottom: 16px;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
}

.feedback-form button {
  margin: 0;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;

  background: #4e75ff;
}

.feedback-form button:hover,
.feedback-form button:active {
  background: #6c8cff;
}
